.about {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.about__heading {
  text-transform: uppercase;
  margin: 100px 0;
  font-size: 1.8rem;
  &--bg {
    font-size: 4rem;
    left: 0;
    letter-spacing: 0.2rem;
    line-height: 0.7rem;
    position: absolute;
    right: 0;
    top: 10px;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
  }
}

.about__container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(45% - 100px), 450px));
  justify-content: center;
  align-items: center;
  grid-gap: 100px;
  .about__pic--container {
    // flex: 1 0 calc(40% - 30px);
    place-self: center;
    img{
      border-radius: 30px;
      z-index: 111;
    }
  }
  .about__text--container {
    // flex: 1 0 calc(55% - 50px);
    place-self: center;
    text-align: left;
    .about__text--title {
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      margin-top: 25px;
    }
    .about__text--content {
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      line-height: 1.8rem;
      em {
        font-weight: bolder;
      }
    }
  }
}