header {
  height: 100vh;
  width: 80%;
}

.heading__greeting {
  display: inline-block;
  color: #ffb400;
}
.heading__name {
  color: #ffb400;
}
.heading__occupation,
.heading__intro {
  color: white;
}

.heading__button {
  border-radius: 35px;
  border: 1px solid white;
  padding: 15px 70px 15px 35px;
  position: relative;
  text-align: center;
  &--text {
    position: relative;
  }
  &--icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
    background-color: rgba(255, 180, 0, $alpha: 0.5);
  }
}
// .fa-arrow-right::before {
//   content: "\f061";
// }