header {
  min-height: 100vh;
  width: 90%;
}

.heading__greeting {
  display: inline-block;
  // color: #ffb400;
}
// .heading__name {
//   color: #ffb400;
// }
// .heading__occupation,
// .heading__intro {
//   color: white;
// }

.heading__button {
  border-radius: 35px;
  border: 1px solid;
  padding: 15px 70px 15px 35px;
  position: relative;
  overflow: hidden;
  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    border-radius: 35px;
  }
  &:hover:before {
    transform: translateX(0);
    // background-color: #ffb400;
  }
  // &--text {
  //   color: white;
  // }
  &--icon {
    position: absolute;
    display: inline-block;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    padding: 18px;
    font-size: 19px;
    // color: #ffffff;
    border-radius: 50%;
    // background-color: #ffb400;
  }
}