.skills {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.skills__heading {
  text-transform: uppercase;
  margin: 100px 0;
  font-size: 1.8rem;
  &--bg {
    font-size: 4rem;
    left: 0;
    letter-spacing: 0.2rem;
    line-height: 0.7rem;
    position: absolute;
    right: 0;
    top: 10px;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
  }
}

.skills__list--tech {
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // align-content: flex-start;
  // gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 200px));
  justify-content: space-evenly;
  grid-gap: 10px;
  li {
    // flex: 1 0 calc(100% / 5 - 10px);
    // min-width: 230px;
    display: flex;
    flex-direction: column;
    // font-size: 25px;
    margin-top: 50px;
    gap: 10px;
    i {
      font-size: 50px;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .upcoming__skill {
    position: relative;
    .upcoming__skill--icon,
    .upcoming__skill--type {
      opacity: 0.3;
    }
    .upcoming__skill--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      text-transform: uppercase;
      font-size: 1.1rem;
    }
  }
}