html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  display: block;
  position: relative;
  top: -50px;
}

.section__heading {
  text-transform: uppercase;
  margin: 100px 0;
  font-size: 1.8rem;
}
.section__heading--bg {
  font-size: 4rem;
  left: 0;
  letter-spacing: 0.2rem;
  line-height: 0.7rem;
  position: absolute;
  right: 0;
  top: 10px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page__theme--dark {
  background-color: #111;
}
.page__theme--dark nav .theme__type {
  border-color: #ffb400;
}
.page__theme--dark nav .theme__type:before {
  content: "LIGHT";
  color: #ffb400;
}
.page__theme--dark nav .theme__type:hover {
  -webkit-box-shadow: 0 0 10px #ffb400;
          box-shadow: 0 0 10px #ffb400;
}
.page__theme--dark nav i {
  color: #fff;
  background-color: #2b2a2a;
}
.page__theme--dark nav h4 {
  color: #fff;
  background-color: #ffb400;
}
.page__theme--dark nav li:hover i {
  background-color: #ffb400;
}
.page__theme--dark header .heading__greeting {
  color: #ffb400;
}
.page__theme--dark header .heading__name {
  color: #ffb400;
}
.page__theme--dark header .heading__occupation {
  color: #666;
}
.page__theme--dark header .heading__intro {
  color: #fff;
}
.page__theme--dark header .heading__button {
  border-color: #ffb400;
}
.page__theme--dark header .heading__button:hover:before {
  background-color: #ffb400;
}
.page__theme--dark header .heading__button--text {
  color: #fff;
}
.page__theme--dark header .heading__button--icon {
  color: #fff;
  background-color: #ffb400;
}
.page__theme--dark .section__heading {
  color: #fff;
}
.page__theme--dark .section__heading span {
  color: #ffb400;
}
.page__theme--dark .section__heading--bg {
  color: rgba(255, 255, 255, 0.1);
}
.page__theme--dark .about .about__pic--container img {
  -webkit-box-shadow: 0 0 10px #ffb400;
          box-shadow: 0 0 10px #ffb400;
}
.page__theme--dark .about .about__text--container .about__text--title {
  color: #ffb400;
}
.page__theme--dark .about .about__text--container .about__text--content {
  color: #fff;
}
.page__theme--dark .about .about__text--container .about__text--content em {
  color: #ffb400;
}
.page__theme--dark .skills .skills__list--tech li {
  color: #fff;
}
.page__theme--dark .skills .skills__list--tech li i {
  color: #ffb400;
}
.page__theme--dark .skills .skills__list--tech .upcoming__skill--text {
  color: #ffb400;
}
.page__theme--dark .projects .project__container--pic img {
  -webkit-box-shadow: 0 0 10px #ffb400;
          box-shadow: 0 0 10px #ffb400;
}
.page__theme--dark .projects .project__container--pic .icon__container i {
  color: #fff;
}
.page__theme--dark .projects .project__container--pic .icon__container i:hover {
  color: #ffb400;
}
.page__theme--dark .projects .project__container--text .project__title {
  color: #ffb400;
}
.page__theme--dark .projects .project__container--text .project__title h3 {
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
.page__theme--dark .projects .project__container--text .project__skill--list li {
  color: #fff;
}
.page__theme--dark .projects .project__container--text .project__skill--list li i {
  color: #ffb400;
}
.page__theme--dark .projects .project__container--text .project__description {
  color: #fff;
}
.page__theme--dark .projects .project__container--text .project__description a {
  color: #ffb400;
}
.page__theme--dark .contact .contact__container {
  color: #fff;
}
.page__theme--dark .contact .contact__container h4, .page__theme--dark .contact .contact__container i {
  color: #ffb400;
}
.page__theme--dark .contact .contact__container a {
  color: #fff;
}
.page__theme--dark footer {
  color: #fff;
  border-color: #2b2a2a;
}

.page__theme--light {
  background-color: #fff;
}
.page__theme--light nav .theme__type {
  border-color: #72b626;
}
.page__theme--light nav .theme__type:before {
  content: "DARK";
  color: #72b626;
}
.page__theme--light nav .theme__type:hover {
  -webkit-box-shadow: 0 0 10px #72b626;
          box-shadow: 0 0 10px #72b626;
}
.page__theme--light nav i {
  color: #fff;
  background-color: #666;
}
.page__theme--light nav h4 {
  color: #fff;
  background-color: #72b626;
}
.page__theme--light nav li:hover i {
  background-color: #72b626;
}
.page__theme--light header .heading__greeting {
  color: #72b626;
}
.page__theme--light header .heading__name {
  color: #72b626;
}
.page__theme--light header .heading__occupation {
  color: #2b2a2a;
}
.page__theme--light header .heading__intro {
  color: #666;
}
.page__theme--light header .heading__button {
  border-color: #72b626;
}
.page__theme--light header .heading__button:hover:before {
  background-color: #72b626;
}
.page__theme--light header .heading__button--text {
  color: #666;
}
.page__theme--light header .heading__button--icon {
  color: #666;
  background-color: #72b626;
}
.page__theme--light .section__heading {
  color: #666;
}
.page__theme--light .section__heading span {
  color: #72b626;
}
.page__theme--light .section__heading--bg {
  color: rgba(102, 102, 102, 0.2);
}
.page__theme--light .about .about__pic--container img {
  -webkit-box-shadow: 0 0 10px #72b626;
          box-shadow: 0 0 10px #72b626;
}
.page__theme--light .about .about__text--container .about__text--title {
  color: #72b626;
}
.page__theme--light .about .about__text--container .about__text--content {
  color: #666;
}
.page__theme--light .about .about__text--container .about__text--content em {
  color: #72b626;
}
.page__theme--light .skills .skills__list--tech li {
  color: #666;
}
.page__theme--light .skills .skills__list--tech li i {
  color: #72b626;
}
.page__theme--light .skills .skills__list--tech .upcoming__skill--text {
  color: #72b626;
}
.page__theme--light .projects .project__container--pic img {
  -webkit-box-shadow: 0 0 10px #72b626;
          box-shadow: 0 0 10px #72b626;
}
.page__theme--light .projects .project__container--pic .icon__container i {
  color: #666;
}
.page__theme--light .projects .project__container--pic .icon__container i:hover {
  color: #72b626;
}
.page__theme--light .projects .project__container--text .project__title {
  color: #72b626;
}
.page__theme--light .projects .project__container--text .project__title h3 {
  text-shadow: 5px 5px 5px rgba(102, 102, 102, 0.3);
}
.page__theme--light .projects .project__container--text .project__skill--list li {
  color: #666;
}
.page__theme--light .projects .project__container--text .project__skill--list li i {
  color: #72b626;
}
.page__theme--light .projects .project__container--text .project__description {
  color: #666;
}
.page__theme--light .projects .project__container--text .project__description a {
  color: #72b626;
}
.page__theme--light .contact .contact__container {
  color: #666;
}
.page__theme--light .contact .contact__container h4, .page__theme--light .contact .contact__container i {
  color: #72b626;
}
.page__theme--light .contact .contact__container a {
  color: #666;
}
.page__theme--light footer {
  color: #666;
  border-color: rgba(102, 102, 102, 0.2);
}

nav {
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 10;
  height: calc(100vh - 200px);
  top: 10px;
}

.theme__type {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 50px;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
}
.theme__type:before {
  text-align: center;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
}

.menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.menu__main li {
  width: 50px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__main li h4 {
  display: block;
  height: 50px;
  z-index: -1;
  position: absolute;
  opacity: 0;
  margin: 0;
  font-size: 15px;
  top: 0;
  right: 0;
  border-radius: 35px;
  padding: 18px 70px 18px 35px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.menu__main li i {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  padding: 14px;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.menu__main li:hover h4,
.menu__main li:focus h4 {
  opacity: 1;
}

header {
  min-height: 100vh;
}

.heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.heading__container .heading__greeting {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 1.1rem;
  margin: 100px 0 50px 0;
}
.heading__container .heading__name {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
}
.heading__container .heading__occupation {
  text-transform: uppercase;
}
.heading__container .heading__intro {
  font-size: 1.25rem;
  line-height: 2.2rem;
  letter-spacing: 0.05rem;
}

.heading__button {
  border-radius: 35px;
  border: 1px solid;
  padding: 15px 70px 15px 35px;
  margin: 25px 0;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.heading__button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  border-radius: 35px;
}
.heading__button:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.heading__button--text {
  font-size: 1.1rem;
}
.heading__button--icon {
  position: absolute;
  display: inline-block;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  padding: 18px;
  font-size: 1.1rem;
  border-radius: 50%;
}

.about {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.about__container .about__pic--container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(40% - 50px);
          flex: 1 0 calc(40% - 50px);
  max-width: 400px;
  -ms-flex-item-align: center;
      align-self: center;
}
.about__container .about__pic--container img {
  border-radius: 30px;
  z-index: 111;
}
.about__container .about__text--container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 50px);
          flex: 1 0 calc(50% - 50px);
  text-align: left;
  -ms-flex-item-align: center;
      align-self: center;
}
.about__container .about__text--container .about__text--title {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
.about__container .about__text--container .about__text--content {
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
}
.about__container .about__text--container .about__text--content em {
  font-weight: bolder;
}

.skills {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.skills__list--tech {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 220px));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.skills__list--tech li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}
.skills__list--tech li i {
  font-size: 2.5rem;
}
.skills__list--tech li p {
  font-size: 1.1rem;
}
.skills__list--tech .upcoming__skill {
  position: relative;
}
.skills__list--tech .upcoming__skill .upcoming__skill--icon,
.skills__list--tech .upcoming__skill .upcoming__skill--type {
  opacity: 0.3;
}
.skills__list--tech .upcoming__skill .upcoming__skill--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.projects {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
.projects__list .project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.project__container--pic {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(45% - 50px);
          flex: 1 0 calc(45% - 50px);
}
.project__container--pic img {
  width: 450px;
  height: 300px;
  opacity: 1;
  border-radius: 30px;
}
.project__container--pic .icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.project__container--pic .icon__container i {
  font-size: 3rem;
}
.project__container--pic:hover .icon__container {
  opacity: 1;
}
.project__container--pic:hover img {
  opacity: 0.5;
}

.project__container--text {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 50px);
          flex: 1 0 calc(50% - 50px);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.project__title {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}
.project__title h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.project__skill--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.project__skill--list li {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__skill--list li i {
  font-size: 1.5rem;
}

.project__description p {
  margin-top: 0;
  margin-right: 10px;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
.project__description p a {
  text-transform: capitalize;
}

.contact {
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.contact__container--left {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(40% - 50px);
          flex: 1 0 calc(40% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__container--left h4 {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  margin-top: 0;
}
.contact__container--left p {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}
.contact__container--left address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.contact__container--right {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(55% - 50px);
          flex: 1 0 calc(55% - 50px);
}
.contact__container--right ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 10px;
}
.contact__container--right a {
  text-transform: none;
}
.contact__container--right a i {
  font-size: 2.5rem;
}

footer {
  text-align: center;
  border-top: 5px solid;
}

@media (max-width: 940px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 792px) {
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 180px));
  }
}
@media (max-width: 768px) {
  .heading__container .heading__greeting {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.9rem;
  }
  .heading__container .heading__name {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.25rem;
  }
  .heading__container .heading__intro {
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.04rem;
  }
  .heading__container .heading__button--text,
.heading__container .heading__button--icon {
    font-size: 0.88rem;
  }
  .about__container .about__text--container .about__text--title {
    font-size: 1rem;
  }
  .about__container .about__text--container .about__text--content {
    font-size: 0.85rem;
    line-height: 1.44rem;
  }
  .skills__list--tech li i {
    font-size: 2rem;
  }
  .skills__list--tech li p {
    font-size: 0.9rem;
  }
  .project__title h3 {
    font-size: 1.2rem;
  }
  .project__skill--list li i {
    font-size: 1.2rem;
  }
  .project__description p {
    font-size: 0.85rem;
    line-height: 1.2rem;
  }
  .contact__container--left h4 {
    font-size: 1.04rem;
  }
  .contact__container--left p {
    font-size: 0.88rem;
    line-height: 1.2rem;
  }
  .contact__container--right a i {
    font-size: 2rem;
  }
}
@media (max-width: 652px) {
  .section__heading {
    font-size: 1.44rem;
  }
  .section__heading--bg {
    font-size: 3.2rem;
  }
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 150px));
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 369px) {
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 100px));
  }
}