html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #111;
}

.link {
  display: block;
  position: relative;
  top: -50px;
}

nav {
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 10;
  height: calc(100vh - 200px);
  top: 100px;
  color: #111;
}

.menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.menu__main li {
  width: 50px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__main li i {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  display: block;
  color: white;
  text-align: center;
  padding: 13px;
  background-color: #2b2a2a;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.menu__main li a {
  display: block;
  height: 50px;
  z-index: -1;
  position: absolute;
  opacity: 0;
  color: #fff;
  font-size: 15px;
  top: 0;
  right: 0;
  border-radius: 35px;
  padding: 15px 70px 15px 35px;
  background-color: #ffb400;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.menu__main li:hover a {
  opacity: 1;
}
.menu__main li:hover i {
  background-color: #ffb400;
}

header {
  height: 100vh;
  width: 90%;
}

.heading__greeting {
  display: inline-block;
  color: #ffb400;
}

.heading__name {
  color: #ffb400;
}

.heading__occupation,
.heading__intro {
  color: white;
}

.heading__button {
  border-radius: 35px;
  border: 1px solid #ffb400;
  padding: 15px 70px 15px 35px;
  position: relative;
  overflow: hidden;
}
.heading__button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  border-radius: 35px;
}
.heading__button:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #ffb400;
}
.heading__button--text {
  color: white;
}
.heading__button--icon {
  position: absolute;
  display: inline-block;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  padding: 18px;
  font-size: 19px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #ffb400;
}

.about {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 90%;
}

.about__heading {
  color: white;
  text-transform: uppercase;
  margin: 100px 0;
}
.about__heading span {
  color: #ffb400;
}
.about__heading--bg {
  font-size: 80px;
  left: 0;
  letter-spacing: 5px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 10px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.about__container .about__pic--container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(35% - 10px);
          flex: 1 0 calc(35% - 10px);
  background: url(../assets/IMG_4611.jpg) top right/cover no-repeat;
  height: calc(90vh - 100px);
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px #ffb400;
          box-shadow: 0 0 10px #ffb400;
  z-index: 111;
  min-width: 350px;
}
.about__container .about__text--container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(45% - 10px);
          flex: 1 0 calc(45% - 10px);
  text-align: left;
}
.about__container .about__text--container .about__text {
  color: #ffb400;
}
.about__container .about__text--container p {
  color: white;
}

.skills {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 90%;
}

.skills__heading {
  color: white;
  text-transform: uppercase;
  margin: 100px 0;
}
.skills__heading span {
  color: #ffb400;
}
.skills__heading--bg {
  font-size: 80px;
  left: 0;
  letter-spacing: 5px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 10px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
}

.skills__list--tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.skills__list--tech li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(25% - 10px);
          flex: 1 0 calc(25% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 25px;
  margin-top: 50px;
  gap: 10px;
}
.skills__list--tech li i {
  color: #ffb400;
  font-size: 50px;
}

.projects {
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 90%;
}

.projects__heading {
  color: white;
  text-transform: uppercase;
  margin: 100px 0;
}
.projects__heading span {
  color: #ffb400;
}
.projects__heading--bg {
  font-size: 80px;
  left: 0;
  letter-spacing: 5px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 10px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
.projects__list .project__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.project__container--pic {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.project__container--pic img {
  width: 450px;
  height: 300px;
  opacity: 1;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px #ffb400;
          box-shadow: 0 0 10px #ffb400;
}
.project__container--pic .icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.project__container--pic .icon__container i {
  color: white;
  font-size: 3rem;
}
.project__container--pic .icon__container i:hover {
  color: #ffb400;
}
.project__container--pic:hover .icon__container {
  opacity: 1;
}
.project__container--pic:hover img {
  opacity: 0.5;
}

.project__container--text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(40% - 50px);
          flex: 1 0 calc(40% - 50px);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.project__title {
  color: #ffb400;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}
.project__title h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

.project__skill--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.project__skill--list li {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}
.project__skill--list li i {
  color: #ffb400;
  font-size: 1.5rem;
}

.project__description {
  color: white;
}

.contact {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 90%;
}

.contact__heading {
  color: white;
  text-transform: uppercase;
  margin: 100px 0;
}
.contact__heading span {
  color: #ffb400;
}
.contact__heading--bg {
  font-size: 80px;
  left: 0;
  letter-spacing: 5px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 10px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}
.contact__container--right {
  text-align: left;
}
.contact__container--right a {
  color: white;
}

footer {
  text-align: center;
  color: white;
  border-top: 5px solid rgba(255, 255, 255, 0.07);
}